body {
    background-color: #556161;
}
.header {
    font-family: 'Bungee', cursive;
}
.anykey {
    font-family: 'Bungee', cursive;
    font-family: 'Shadows Into Light', cursive;
    border-style: solid;
    float: left;
    margin-left: 5%;
    padding: 5%;
    width: 285px;
}
.wins {
    font-family: 'Bungee', cursive;
    font-family: 'Shadows Into Light', cursive;
}
#random-array {
    margin-top: 20px;
}
#lives {
    margin-top: 20px;
}
#guesses {
    margin-top: 20px;
}
.randomdisplay {
    font-size: 30px;
    font-style: bold;
    float: right;
    border-style: solid;
    margin-right: 5%;
    padding: 5%;
    width: 285px;
}
#guesses {
}
#picture {
  position: absolute;
  right: 50%;
}
#wins {
    float: right;
}
.container {
  background-color: white;
  padding-bottom: 23%;
}
#lives {
  position: absolute;
  right: 45%;
  bottom: 10%;
}
#guesses {
  position: absolute;
  right: 45%;
  bottom: 5%;
}